body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1, h2, h3, h4, h4{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
}
h2{
    
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
    
}
p{
    color: #1b1b1b;
}

/*Headings*/
.big-heading{
    font-family: 'Montserrat-Black';
    size: 3.5rem;
    line-height: 1.5;
}
#title{
    background-color: black;
    color: white;
    background-image: url("images/mainBackground.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 750px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}
#nav{
    background-color: black;
    height: 150px;
}

/*navigation bar*/

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 60px;
    
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
    color: #F0A500;
    
    
}
.navbar{
    padding: 0 0 4.5rem;
}
.container-fluid{
    padding: 3% 15% 15%;

}

/*Download Buttons*/
.download-button{
    margin: 5% 3% 5% 0;
}

/*For you section*/
#forYou{
    text-align: center;
    color: black;

}
.forYou-image{
    width: 90%;
    border-radius: 100%;/*make the image round*/
    margin: 20px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

/*For you recommendation section*/
#forYouRecom{
    text-align: center;
    padding-left: 5%;
    padding-bottom: 5%;
    
}

.forYouRecom-card.img{
    height: 50%;

}

/*Categories section*/
#categories{
    background-color: black;
    color: white;
    background-image: url("images/categorybackground.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 950px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    text-align: center;
    padding-top: 3%;
    
}
.category_img{
    border-radius: 50%;
    
    
}

/*Testimonial section*/
#testimonials{
    text-align: center;
    
}

.carousel-item{
    padding: 7% 15%;
}

/*My Account Section*/
#account{
    text-align: center;
    vertical-align: middle;
    padding: 5% ;
}

.profilePic{
    width: 200px;
    height: 200px;
    background-image: url('images/user.jpg');
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

.row{
    padding-top: 3%;
}

.userButton{
    text-align: right;
    padding-bottom: 5%;
}

/*Footer section*/
#footer{
    
    padding: 10% 10%;
    text-align: center;
    background-color: black;
    color: #F0A500;
    
}
.footer-icons{
    margin: 20px 10px;

}
.footer-name{
    color: white;
    
}

/*Login Section*/
#text-center{
    display: flex;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
}

.image-left{
    text-align: left;

}
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }




@media (max-width: 1020px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

